* {
    margin: 0;
    /* box-sizing informs the browser how to calculate page width */
    /* border-box: width and height properties (and min/max properties) include... */
    /* content-box: the width and height properties (and min/max properties) include... */
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    /* set element minimum height to 100% viewport height */
    /* adopts height to viewport */
    min-height: 100vh;
    color: rgb(227, 67, 67);
    background-color: #374151;
}

header {
    /* the rem unit means "the root element's font-size" */
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.task_list_main {
    font-size: 3rem;
    font-style: normal;
    font-weight: 300;
    color: whitesmoke;
    margin-bottom: 1rem;
    text-align: center;
}

.new_task_form {
    display: flex;
}

input,
button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

.task_input::placeholder {
    color: brown;
}

.task_add {
    color: whitesmoke;
    width: 100px;
    font-size: 1rem;
    font-weight: 600;
    background-color: #3486f8;
    border-radius: 1.1rem;
    cursor: pointer;
    transition: 0.4s;
}

.task_add:hover {
    opacity: 0.8;
}

.task_add:active {
    opacity: 0.5;
}