* {
    margin: 0;
    /*box-sizing informs the browser how to calculate page width*/
    /*border-box: width and height properties (and min/max properties) include...*/
    /*content-box: the width and height properties (and min/max properties) include...*/
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}